{%extends 'assignmentApp/base.html'%}

{%block content%}

{% load static %}
    <nav class="level pt-1">
        <div class="level-item has-text-centered">
            <div>
              
              {%if error%}
              <div class="notification">
                <button class="delete"></button>
                {{error}}
              </div>
              <script>
                document.addEventListener('DOMContentLoaded', () => {
                  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                      $notification.parentNode.removeChild($notification);
                    });
                  });
                });
              </script>
              {%endif%}
            </div>
          </div>
    </nav>

  <div class="columns">
    
    {%if paths%}
    <div class="column">
        <section class="section pt-0">
            <div class="container is-fluid has-text-white">
              {%for path in paths%}
                <img src="static/assignmentApp/{{path}}" alt="AssignmentImage">
              {%endfor%}
            </div>
        </section>
    </div>
  {%endif%}
    <div class="column" style="min-height: 100vh;">
        <section class="section pt-0">
          
            <form id="upload_form" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="container is-fluid">
              <h2 class="has-text-white mb-1">1) Choose your preferred handwriting (from <a href="">Snake</a>, <a href="">Qournatte</a>, <a href="">Sour Dough</a>, <a href="">Mumsies</a>)
              </h2>
              <div class="select mt-1">
                <select  name="fonts" id="fonts">
                  <option value="Snake">Snake</option>
                  <option value="Qournatte">Qournatte</option>
                  <option value="SourDough">Sour Dough</option>
                  <option value="Mumsies">Mumsies</option>
                </select>
              </div>
              <br/>
              <br/>
              <h2 class="has-text-white">2) Select page type (select 'blank' for card-type texts)
              </h2>
              <div class="select mt-1">
                <select name="page_type" id="page_type">
                  <option value="ruled">Ruled</option>
                  <option value="blank">Blank</option>
                </select>
              </div>
              <br/>
              <br/>
              <h2 class="has-text-white mb-1">3) Upload file containing your text.
                (preferably .txt file) <br/>Download <a href="{% static 'assignmentApp/sample.txt' %}" download>sample text file</a> to edit.
              </h2>
                <div class="field">
                  <div id="file-js-example" class="file has-name is-dark">
                    <label class="file-label">
                      <input class="file-input" type="file" name="uploaded_file" id="uploaded_file">
                      <span class="file-cta">
                        <span class="file-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                          </svg>
                        </span>
                        <span class="file-label">
                          Choose a file…
                        </span>
                      </span>
                      <span class="file-name has-text-white ml-2">
                        No file uploaded
                      </span>
                    </label>
                  </div>
                  
                  <script>
                    const fileInput = document.querySelector('#file-js-example input[type=file]');
                    fileInput.onchange = () => {
                      if (fileInput.files.length > 0) {
                        const fileName = document.querySelector('#file-js-example .file-name');
                        fileName.textContent = fileInput.files[0].name;
                      }
                    }
                  </script>
                        <br/>
                        <h2 class="has-text-white mb-1">4) Confirm and Upload</h2>
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="button is-link" type="submit" value="Make my Assignment">
                            </div>
                            <div class="control">
                              <a href="" class="button is-link is-light">Discard</a>
                            </div>
                          </div>
                  </div>
                <div class="field">
                    
                </div>
            </div>
        </form>
        <div class="container mt-5 is-fluid">
          {%if file_content %}
          <h2 class="mt-2 has-text-white">
          Your Assignment -
          <br/>
          <br/>
            <h4 class="has-text-white" style="overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10; /* number of lines to show */
            -webkit-box-orient: vertical; font-size: small;">{{ file_content }}</h4>
          </h2>
          {%endif%}
        </div>
        </section>
    </div>
  </div>

          
{%endblock%}